@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Public+Sans:wght@300;400;800&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
}

.container {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 100vh;
}

.container .pintura {
    position: relative;
}

.container .pintura:hover {
    transform: scale(1.1);
    transition: 0.1 ease-in-out
}
.pintura img {
    border: 1px solid var(--border-color);
    width: 335px;
    height: 432px;
}

.pintura .obra {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 8px;
    position: absolute;
    bottom: 60px;
    left: 20px;
}

.pintura .autor {
    font-weight: 300;
    font-size: 17px;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

@media(max-width:1440px) {

    .container {
        max-width: 900px;
        margin: 30px;
    }
}



